body {
	background-color: #F9F3F3;
	font-family: 'Lora', serif;
}

/*------------------------------------------------------------------*\
    #Header
\*------------------------------------------------------------------*/

header {

}

form {
	float: right;
}

input {
	font-family: font-family: 'Lora', serif;
}

#header-bottom {
	/*background-color: #F24FA8; wait until it's sized smaller so you don't go blind */
}

nav {
	background-color: #F24FA8;
	display: inline-block;
	text-align: right;
	width: 100%; /*?*/
}

nav a {
	color: white;
	font-family: 'Playfair Display SC', serif;
	font-size: 15px; /* taken from iva */
	padding: 0 20px; /* taken from iva */
	text-decoration: none;
}

/*nav
#top
#bottom
nav a*/

/*------------------------------------------------------------------*\
    #Dropdown
\*------------------------------------------------------------------*/
.dropdown {
	background-color: #F24FA8;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: none;
	position: absolute; /*check on this and make sure it works*/
	top: 100%; /*what does this mean again?*/
}

.dropdown-container {
	padding-bottom: 5px; /*?*/
	position: relative;
	display: inline-block;
}

.dropdown-container:hover .dropdown {
	display: block;
}

.dropdown a {
	color: white; /*Change this later, maybe? */
	display: inline-block;
}

ul li:hover {
	background-color: white;
}

ul li:hover a {
	color: #F24FA8;
}


/*------------------------------------------------------------------*\
    #Content
\*------------------------------------------------------------------*/

/*#hero

#welcome-blurb
*/
h1 {
	font-family: 'Playfair Display SC', serif;
}

p {
	font-family: 'Lora', serif;
}


/*------------------------------------------------------------------*\
    #Features
\*------------------------------------------------------------------*/

/*#features-block

.features

#join-club

#video

#buyers-guide*/


/*------------------------------------------------------------------*\
    #Footer
\*------------------------------------------------------------------*/

/*#ff-container

.footer-features*/

h2 {
	font-family: 'Playfair Display SC', serif;
}

/*#customer-service

#store-info

#account

#buyers-guide-f

#social-container

.social

#copyright