body {
	background-color: #F9F3F3;
	font-family: 'Lora', serif;
}

/*------------------------------------------------------------------*\
    #Header
\*------------------------------------------------------------------*/

header {

}

form {
	float: right;
}

input {
	font-family: font-family: 'Lora', serif;
}

#header-bottom {
	/*background-color: #F24FA8; wait until it's sized smaller so you don't go blind */
}

nav {
	background-color: #F24FA8;
	display: inline-block;
	text-align: right;
	width: 100%; /*?*/
}

nav a {
	color: white;
	font-family: 'Playfair Display SC', serif;
	font-size: 15px; /* taken from iva */
	padding: 0 20px; /* taken from iva */
	text-decoration: none;
}

/*mouse over link*/
a:hover {

}

/*selected link*/

a:active {

}

/*------------------------------------------------------------------*\
    #Dropdown
\*------------------------------------------------------------------*/


/* ADD SHADOW TO DROP DOWN BOXES*/
.dropdown {
	background-color: #F24FA8;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: none;
	position: absolute; /*check on this and make sure it works*/
	text-align: left;
	/*top: 100%;*/
	width: 200%;
}

.dropdown-container {
	padding-bottom: 5px; /*?*/
	position: relative;
	display: inline-block;
}

.dropdown-container:hover .dropdown {
	display: block;
}

.dropdown a {
	color: white; /*Change this later, maybe? */
	display: inline-block;
	font-size: 13px;
	width: 100%;
}

ul li:hover {
	background-color: white;
	border-bottom-left-radius: 10px; /*Trying to fix hover corners*/
	border-bottom-right-radius: 10px;
}

ul li:hover a {
	color: #F24FA8;
}


/*------------------------------------------------------------------*\
    #Content
\*------------------------------------------------------------------*/

#hero {
	height: 313px;
	width: 958px;
	border: solid black 20px;
	margin: 0 auto;
}

/*#welcome-blurb*/

h1 {
	font-family: 'Playfair Display SC', serif;
	margin: 0 auto;
	text-align: center;
}

p {
	font-family: 'Lora', serif;
	margin: 0 auto;
}


/*------------------------------------------------------------------*\
    #Features
\*------------------------------------------------------------------*/

/*#features-block*/

.features {
	background-color: black;
	width: 300px;
	height: 180px;
	display: inline-block; /*change to float?*/
}

/*#join-club

#video

#buyers-guide*/


/*------------------------------------------------------------------*\
    #Footer
\*------------------------------------------------------------------*/

#ff-container {

}

.footer-features {
	float: left;
	width: 15%;
}

.footer-features ul {
	list-style: none;
}

.footer-list {
	padding-left: 0px;
	font-size: 10px;
}

.footer-list li a {
	color: #F24FA8;
	text-decoration: none;
}

.footer-list li:hover a {
	color: #B23A7C;
	font-weight: bold;
}

.footer-list li:hover { 
	background-color: rgba(0,0,0,0);
}
/*to prevent the background color from drop down appearing*/

h2 {
	color: #F24FA8;
	font-family: 'Playfair Display SC', serif;
	font-size: 12px;
}

/*#customer-service

#store-info

#account

#buyers-guide-f

#social-container

.social*/

#copyright {
	display: block;
	clear: both;
	width: 100%;
}