body {
	background-color: #F9F3F3;
}

/*------------------------------------------------------------------*\
    #Header
\*------------------------------------------------------------------*/

header

form {
	float: right;
}
input {
	font-family: ;
}

/*nav
#top
#bottom
nav a*/

/*------------------------------------------------------------------*\
    #Content
\*------------------------------------------------------------------*/

#hero

#welcome-blurb

h1 {
	font-family: 'Playfair Display SC', serif;
	/* Why is this font not displaying? Ask someone*/
}

p {
	font-family: 'Lora', serif;
}


/*------------------------------------------------------------------*\
    #Features
\*------------------------------------------------------------------*/

#features-block

.features

#join-club

#video

#buyers-guide


/*------------------------------------------------------------------*\
    #Footer
\*------------------------------------------------------------------*/

#ff-container

.footer-features

#customer-service

#store-info

#account

#buyers-guide-f

#social-container

.social

#copyright